.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem;
  margin-top: -20vh;
}
.objectives-section {
  padding: 20rem;
  background-image: linear-gradient(
      to right bottom,
      rgb($color-primary, 0.7),
      rgb($color-primary-dark, 0.7)
    ),
    url("/img/hero.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
  & > * {
    transform: skewY(7deg);
  }
}
.section-features {
  background-color: $color-grey-light-1;
  padding: 20rem;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  // background-color: $color-grey-light-1;
  padding: 15rem 0;
}
